mirrors:
  "registry.k8s.io":
    endpoint:
      - "http://{{ versions_data.dockerRegistryAddress }}"
  "nvcr.io":
    endpoint:
      - "http://{{ versions_data.dockerRegistryAddress }}"
  "docker.io":
    endpoint:
      - "http://{{ versions_data.dockerRegistryAddress }}"